<div class="card hidden-left font-mono dark:text-light">
    <div class="card-content">Geile Socke</div>
</div>
<div class="card hidden-right">
    <div class="card-content"></div>
</div>
<div class="card hidden-left">
    <div class="card-content"></div>
</div>
<div class="card hidden-right">
    <div class="card-content"></div>
</div>
<script src="../js/cards.js"></script>
