<div class="card hidden_left shadow-sm">
    <div class="card-content"></div>
</div>
<div class="card hidden_right shadow-sm">
    <div class="card-content"></div>
</div>

<script src="../js/cards.js"></script>
