
<div class="hidden-bottom">
    <nav class="IconBar gap-32">

        <a href="https://youtube.com/@trvlmusic?si=AadvyQlfjeGH9o_u">
            <img src="/icons/youtube.svg" alt="YouTube" class="Icon w-30 h-10 "/>
        </a>
        
        <a href="https://x.com/FailArive?t=Llp1wzaSECVErD9O9lzeRA&s=09">
            <img src="/icons/twitter.svg" alt="Twitter" class="Icon w-12 h-12"/>
        </a>
    
        <a href="">
            <img src="/icons/instagram.svg" alt="Instagram" class="Icon w-12 h-12"/>
        </a>
    
        <a href="https://soundcloud.com/failarive?utm_source=clipboard&utm_medium=text&utm_campaign=social_sharing">
            <img src="/icons/soundcloud.svg" alt="SoundCloud" class="Icon w-20 h-20"/>
        </a>
    
        <a href="">
            <img src="/icons/spotify.svg" alt="Spotify" class="Icon w-30 h-10"/>
        </a>

        <a href="">
            <img src="/icons/apple-music.svg" alt="Apple" class="Icon w-20 h-12"/>
        </a>

        <a href="">
            <img src="/icons/deezer.svg" alt="Deezer" class="Icon w-30 h-20"/>
        </a>
    </nav>

</div>


