---
import NavigationSocialIcon from "./NavigationSocialIcon.astro";
---

<!--NavigationSocialIcon 
    icon="logos:twitter" 
    url="https://x.com/FailArive?t=Llp1wzaSECVErD9O9lzeRA&s=09" 
    title="Twitter" 
    
/-->
<div id="colorSwitch" class="hover:cursor-pointer bg-dark dark:bg-light rounded-full p-1">
    <img src="/icons/moon.svg" alt="moon" class="w-6 h-6" />
</div>