---


export interface Props {
    alt: string;
    src:string;
    url: string;
    target?: string;
   
}

const {alt, src, url, target = "_blank"} = Astro.props;
---

<a href={url} target = {target} class="relative group">
    <img 
        alt={alt}
        src=src
        class=" relative w-6 h-6 top-0 group-hover:-top-1 transition-[top] ease duration-300"/>
</a>