
<div class="wrapper">

    <div class="IconBarBackground"></div>
    <nav class="IconBar">

        <a class="item item1" href="https://youtube.com/@trvlmusic?si=AadvyQlfjeGH9o_u">
            <img src="/icons/youtube.svg" alt="YouTube" class="Icon w-30 h-10 "/>
        </a>
        
        <a class="item item2" href="https://x.com/FailArive?t=Llp1wzaSECVErD9O9lzeRA&s=09">
            <img src="/icons/twitter.svg" alt="Twitter" class="Icon w-12 h-12"/>
        </a>
    
        <a class="item item3" href="">
            <img src="/icons/instagram.svg" alt="Instagram" class="Icon w-12 h-12"/>
        </a>
    
        <a class="item item4" href="https://soundcloud.com/failarive?utm_source=clipboard&utm_medium=text&utm_campaign=social_sharing">
            <img src="/icons/soundcloud.svg" alt="SoundCloud" class="Icon w-20 h-20"/>
        </a>
    
        <a class="item item5" href="">
            <img src="/icons/spotify.svg" alt="Spotify" class="Icon w-30 h-10"/>
        </a>

        <a class="item item6" href="">
            <img src="/icons/apple-music.svg" alt="Apple" class="Icon w-20 h-12"/>
        </a>

        <a class="item item7" href="">
            <img src="/icons/deezer.svg" alt="Deezer" class="Icon w-30 h-20"/>
        </a>
        <div class="swcontainer swiper">
           <div class="slider-wrapper">
                <div class="icon-list swiper-wrapper">
                    <div class="icon-item  swiper-slide">
                        <a href="https://youtube.com/@trvlmusic?si=AadvyQlfjeGH9o_u">
                            <img src="/icons/youtube.svg" alt="YouTube" class="Icon w-30 h-10 "/>
                        </a>
                    </div>
                    <div class="icon-item  swiper-slide">
                        <a href="https://x.com/FailArive?t=Llp1wzaSECVErD9O9lzeRA&s=09">
                            <img src="/icons/twitter.svg" alt="Twitter" class="Icon w-12 h-12"/>
                        </a>
                    </div>
                    <div class="icon-item  swiper-slide">
                        <a href="">
                            <img src="/icons/instagram.svg" alt="Instagram" class="Icon w-12 h-12"/>
                        </a>
                    </div>
                    <div class="icon-item  swiper-slide">
                        <a href="https://soundcloud.com/failarive?utm_source=clipboard&utm_medium=text&utm_campaign=social_sharing">
                            <img src="/icons/soundcloud.svg" alt="SoundCloud" class="Icon w-20 h-20"/>
                        </a>
                    </div>
                    <div class="icon-item  swiper-slide">
                        <a href="">
                            <img src="/icons/spotify.svg" alt="Spotify" class="Icon w-30 h-10"/>
                        </a>
                    </div>
                    <div class="icon-item  swiper-slide">
                        <a href="">
                            <img src="/icons/apple-music.svg" alt="Apple" class="Icon w-20 h-12"/>
                        </a>
                    </div>
                    <div class="icon-item  swiper-slide">
                        <a href="">
                            <img src="/icons/deezer.svg" alt="Deezer" class="Icon w-30 h-20"/>
                        </a>
                    </div>
                    
                </div>
                
                <div class="swiper-button-prev swiper-slider-button"></div>
                <div class="swiper-button-next swiper-slider-button"></div>
                
            </div> 
        </div>

    </nav>
  

    
</div>





