
<ul class="sidebar">
    <li><a href="/" class="navbartextfarbe">Home</a></li>
    <li><a href="/Shop" class="navbartextfarbe">Shop</a></li>
    <li><a href="/Contact" class="navbartextfarbe">Contact</a></li>
</ul>

<ul>
    <li><a href="/" class="navbartextfarbe">Home</a></li>
    <li><a href="/Shop" class="navbartextfarbe">Shop</a></li>
    <li><a href="/Contact" class="navbartextfarbe">Contact</a></li>
    <li onclick=showSidebar()><a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24"><path fill="white" d="M3 18v-2h18v2zm0-5v-2h18v2zm0-5V6h18v2z"/></svg></a></li>
</ul>
<script>
    function showSidebar(){
        const sidebar = document.querySelector('.sidebar')
        sidebar.style.display = 'flex'
    }  
</script>