---
import NavigationLinks from "../components/NavigationLinks.astro";
const { content } = Astro.props;
---

<html lang="en" >
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" href="/src/css/style.scss">
		<title>TRVL Website</title>

	</head>
	<body class="font-mono pt-30" >
		
		<header class="flex items-center top-0 justify-between shadow-lg  font-medium ">
			<nav class="flex items-center justify-center gap-x-16 w-full text-2xl text-light">
				<NavigationLinks />
			</nav>
			<div class="scroll_watcher"></div>
		</header>
		<main class="md:container md:mx-auto w-full min-h-screen">
			
			<article>
				<slot />
			</article>
		</main>
		
	</body>
</html>
