---
import NavigationLinks from "../components/NavigationLinks.astro";
import { Icon } from 'astro-icon/components'
const { content } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>TRVL Website</title>
	</head>
	<body class="font-mono">
		<main class="md:container md:mx-auto w-full min-h-screen">
			<header class="flex items-center justify-between px-4 py-8 font-medium bg-gray-700">
				<nav class="flex items-center justify-center gap-x-8 text-2xl text-white">
					<NavigationLinks />
					
				</nav>
				<nav class="flex items-center justify-center gap-x-5">
					<a href="" class="relative group">
						<Icon name="logos:twitter" width={28} height={28} class=" relative top-0 group-hover:-top-1 transition-[top] ease duration-300"/>
					</a>
					
				</nav>
			</header>
			<article>
				<slot />
			</article>
		</main>
		
	</body>
</html>
