---
import NavigationLinks from "../components/NavigationLinks.astro";
import NavigationSocialBar from "../components/NavigationSocialBar.astro";
import DarkMode from "../components/DarkMode.astro";
const { content } = Astro.props;
---

<html lang="en" >
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" href="/src/css/style.scss">
		<title>TRVL Website</title>

	</head>
	<body class="font-mono pt-30" >
		<header class="flex items-center sticky top-0 justify-between shadow-lg px-4 py-4 font-medium z-50">
			<nav class="flex items-center justify-center gap-x-16 w-full text-2xl text-dark dark:text-light">
				<NavigationLinks />
			</nav>
			<nav class="flex items-center justify-center gap-x-5">
				<DarkMode />
			</nav>
		</header>
		<main class="md:container md:mx-auto w-full min-h-screen">
			
			<article>
				<slot />
			</article>
		</main>
		<script src="../js/app.js"></script>
	</body>
</html>
