:root {
    --header-color: rgba(2, 0, 0, 0.938);
    --body-color: rgb(2, 0, 0);
    --primary-color: rgb(240, 66, 196);
    --secondary-color: rgb(146, 251, 255);
    --gradient-color: linear-gradient(45deg, var(--primary-color),var(--secondary-color));
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


body {
    
    background-color: var(--body-color);
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    min-height: 100vh;
    margin: 0;
    font-family: 'outfit';
    
}

header {
    background-color: var(--header-color);
    position: fixed;
    top: 0;
    left: 0;
    
    width: 100%;
    max-width: 100vw;

    height: 8vh;
    z-index: 1000;

}

.content-container {
    //overflow-x: hidden;
    //width: 100%;
}

.container{
    width: 100%;
    height: 100vh;
    
    display: flex;
    flex-direction: row;
    justify-content: center;

    position: relative;

    max-width: 1536px;
    margin-inline: auto;
    margin-top: 1rem;
}


.left-container{
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    padding-left: 50px;
    padding-right: 30px;
    z-index: 9;
    
}

.right-container {
    width: 50%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    padding-left: 50px;
    padding-right: 30px;
    background-color: #ffffff10;
    border: 2px solid #30343a;
    top: 20%;
    border-radius: 1em;
    transition: 0.3s ease-in-out;
}

.right-container:hover{
    transform: scale(1.02);

}

.left-container h1{
    position: absolute;
    font-family:  Helvetica;
    font-size: 4rem;
    font-weight: 500;
    color: #fff;
    top: 30%;
    text-shadow: 0 0 10px rgba(236, 111, 205, 0.2), 
                
                  0 0 40px rgba(119, 229, 233, 0.6);
    
}

.left-container h1 span{
    color: transparent;
    background-image: var(--gradient-color);
    -webkit-background-clip: text;
}

.left-container p{
    position: relative;
    top: 0%;
    color: #dbdbdb;
    font-size: 1.5rem;
    font-family: Helvetica;
}

.links-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

nav a{
    height: 100%;
    padding: 0px 20px;
    display: flex;
    align-items: center;

}

nav svg{
    justify-content: flex-end;
}

.navbartextfarbe{
    margin-right: 2rem;
    font-family:  Helvetica;
    font-size: 1.7rem;
    font-weight: 500;
    color: #fff;
    border: none;
    justify-items: center;
    border-radius: 700px;
    transition: 0.1s linear;
    cursor: pointer;
}


.navbartextfarbe:hover,
.navbartextfarbe.active { 
    color: var(--body-color);
    background: var(--gradient-color); 
    box-shadow: -5px 5px 20px rgba(255, 121, 221, 0.87), 
                5px -5px 20px rgba(118, 250, 255, 0.911);
}

#sidebar-active{
    display: none;

}

.open-sidebar-button, .close-sidebar-button{
    display: none;
    position: absolute;
    top: 0px;
    right: 20px;
    padding: 10px;
    cursor:pointer;
    

}

.open-sidebar-button{
    opacity: 1;
    visibility: visible;
    
    transition: opacity 1s ease, visibility 1s ease, transform 1s ease;
}



.scroll_watcher{
    height: 3px;
    position: absolute;
    bottom: 0;
    z-index: 100;
    background-image: var(--gradient-color);
    box-shadow: 0 0 10px rgba(236, 111, 205, 0.1), 
                
                 0 0 40px rgba(119, 229, 233, 0.6);
    width: 100%;
    scale: 0 1;
    transform-origin: left;
    animation: scroll_watcher linear;
    animation-timeline: scroll(y);
}

@keyframes scroll_watcher {
    to{ scale: 1 1;}
}



h2{
    
    position: relative;
    padding-top: 5rem;
    padding-bottom: 3rem;
    animation: appeartop 1s linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
    
}



.IconBar{
    background-color: #13161c;
    border-radius: 50px;
    position: relative;
    width: 100%;
    height: 80px;
    max-width: 1536px;
    display: flex;
    justify-content: center; /* Zentrierung horizontal */
    align-items: center;
    margin-inline: auto;
    margin-top: 1rem;
    overflow: hidden;
    z-index: 1;
    .Icon{

        &:hover{
            transform: scale(0.9);
            transition: 300ms ease-in-out;
            &::before{
                opacity: 1;
            }
        }
        
    }

    &:hover .item {
        animation-play-state: paused;
    }

    
}
@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}



.item{
    width: 200px;
    height: 80px;
    position: absolute;
    left: max(calc(200px * 7), 100%);
    animation: 30s scrollLeft linear infinite;
    animation-play-state: running;
}

.item1{
    animation-delay: calc(30s / 7 * (7 - 1) * -1);
}
.item2{
    animation-delay: calc(30s / 7 * (7 - 2) * -1);
}
.item3{
    animation-delay: calc(30s / 7 * (7 - 3) * -1);
}
.item4{
    animation-delay: calc(30s / 7 * (7 - 4) * -1);
}
.item5{
    animation-delay: calc(30s / 7 * (7 - 5) * -1);
}
.item6{
    animation-delay: calc(30s / 7 * (7 - 6) * -1);
}
.item7{
    animation-delay: calc(30s / 7 * (7 - 7) * -1);
}




.wrapper{
    position: relative;
    width: 100%;
    max-width: 1536px;
    height: 80px;
}

.IconBarBackground {
    position: absolute;
    inset: 0;
    background-image: conic-gradient(from var(--angle), var(--primary-color), var(--secondary-color), var(--primary-color));
    border-radius: 50px;
    padding: 10px 10px;
    z-index: -1;
    
    transform: scale(1.005, 1.08);
    //filter: blur(0.1rem);
    animation: 3s spin linear infinite; 
    animation-play-state: paused; 
    
}

.wrapper:hover .IconBarBackground{
    animation-play-state: running;
}

.IconBar .swcontainer{
    display: none;
}

.IconBar .swcontainer .slider-wrapper .icon-list{
    display: flex;
    justify-items: center;
    align-items: center;
}

.IconBar .swcontainer .slider-wrapper .icon-list .icon-item {

    display: flex;
    justify-content: center; /* Zentriert den Inhalt des Items */
    align-items: center;
}

.IconBar .swcontainer .slider-wrapper .icon-list .icon-item a{
    justify-content: center;
}


.slider-wrapper .swiper-slider-button{
    color: #fff;
    top: auto;
    bottom: 0;
    right: 0;
    width: 80px;
    height: 80px;
    background-color: #13161c;
    border: 3px solid #30343a;
    border-radius: 50%;
    transition: 0.2s ease;
}

.slider-wrapper .swiper-slider-button:hover {
    background-color: #5e636b;
    transform: scale(0.9);
}

.slider-wrapper .swiper-button-prev{
    left: 0;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}


@keyframes scrollLeft {
    to{
        left: -200px;
    }
}

@keyframes spin {
    from{
        --angle: 0deg;
    }
    to{
        --angle: 360deg;
    }
}

@media(max-width: 756px){
    .container {
        width: 100%;

        flex-direction: column;
        
    }

    .links-container{
        
        flex-direction: column;
        align-items: flex-start;

        position: fixed;
        top:0;
        right: -100%;
        z-index: 10000;
        width: 40%;

        background-color: rgba(2, 0, 0, 0.726);
        transition: 0.75s ease-out;
    }
    
    .right-container{
        top: 0;
        display: flex;
        width: 100%;

    }

    .navbartextfarbe:hover,
    .navbartextfarbe.active { 
        color: #fff;
        background: var(--gradient-color);
        box-shadow: -5px 0 5px rgba(53, 52, 52, 0.219);;
    }
    nav a{
        box-sizing: border-box;
        height: auto;
        width: 100%;
        padding: 0px 40px;
        justify-content: flex-start;
    }
    .open-sidebar-button, .close-sidebar-button{
        display: block;
        padding: 20px;
    }

    #sidebar-active:checked ~ .links-container{
        right: 0;
    }
    #sidebar-active:checked ~ #overlay{
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9;
    }
    #sidebar-active:checked ~ .open-sidebar-button {
        opacity: 0;
        transform: rotate(90deg);
        visibility: hidden;
    }
    
    .left-container{
        width: 100%;
    }

    .left-container h1{
        justify-items: center;
    }

    .item{
        display: none;
    }

    .IconBar .swcontainer{
        display: block;
        justify-content: center;
    }

    

}