---
import Layout from "../layouts/Layout.astro"
import Cards from "../components/Cards.astro"
---

<Layout title="Homepage">
	<h1 class="text-6xl text-center text-dark dark:text-light">Home</h1>
	<Cards/>
	<script src="../js/cardanimation.js"></script>
</Layout>
