---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Homepage">
	<h1 class="text-6xl text-dark dark:text-light">Home</h1>
	<div class="cards z-60">
		<div class="card">
			<div class="card-content"></div>
		</div>
		<div class="card">
			<div class="card-content"></div>
		</div>
		<div class="card">
			<div class="card-content"></div>
		</div>
		<div class="card">
			<div class="card-content"></div>
		</div>
		<script src="../js/cards.js"></script>
	</div>
</Layout>