---
import Layout from "../layouts/Layout.astro"

import NavigationSocialBar from "../components/NavigationSocialBar.astro"
---

<Layout title="Homepage">

	<div class="container">
		<div class="left-container">
			<h1><span>TRVLMusic</span></h1>
			<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Optio explicabo incidunt culpa corporis quo voluptatibus necessitatibus ex nobis blanditiis ipsa.</p>
		</div>
		<div class="right-container"></div>
	</div>
	
	
	
	<h2 class="text-4xl text-center text-light">My Socials</h2>
	<NavigationSocialBar/>

	<!-- <div class="latestvideo shadow-lg">
		<iframe src="https://www.youtube.com/embed?listType=playlist&list=UU-Z2gJDc318-R6dpjfgorVg"></iframe> 
	</div> -->
	
</Layout>
