---
import Layout from "../layouts/Layout.astro"
import Cards from "../components/Cards.astro"
import NavigationSocialBar from "../components/NavigationSocialBar.astro"
---

<Layout title="Homepage">
	<h1 class="text-6xl text-center text-light">TRVL Music</h1>
	<Cards/>
	<h2 class="text-4xl text-center text-light">My Socials</h2>
	<NavigationSocialBar/>
	<h3 class=" text-4xl text-left text-light">Latest YouTube Video:</h3>
	<div class="latestvideo shadow-lg">
		<iframe src="https://www.youtube.com/embed?listType=playlist&list=UU-Z2gJDc318-R6dpjfgorVg"></iframe> 
	</div>
	<script src="../js/cardanimation.js"></script>
</Layout>
