---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Shop">
	<h1>TRVL Shop</h1>

	<form>
		<div class="search-wrapper"></div>
		<input type="text" name="" id="search-item" placeholder="Search products" onkeyup="search()">
	</form>

	<div class="product-list" id="productl">
		<div class="product">
			<!-- image -->
			 <div class="p-details">
				<h2>Moin Leute</h2>	
				<h3></h3>
			 </div>
			
		</div>
		<div class="product">
			<!-- image -->
			<div class="p-details">
				<h2>Trymacs</h2>	
				<h3></h3>
			</div>
		</div>
		<div class="product">
			<!-- image -->
			<div class="p-details">
				<h2>hier!</h2>	
				<h3></h3>
			</div>
		</div>
		
	</div>
	<!-- <style>.pp-WGSXBG457RT9W{text-align:center;border:1px solid #000;border-radius:1.5rem;min-width:11.625rem;padding:0 2rem;height:3.125rem;font-weight:bold;background-color:#ffffff;color:#000000;font-family:"Helvetica Neue",Arial,sans-serif;font-size:1.125rem;line-height:1.5rem;cursor:pointer;}</style>
	<form action="https://www.paypal.com/ncp/payment/WGSXBG457RT9W" method="post" target="_top" style="display:inline-grid;justify-items:center;align-content:start;gap:0.5rem;">
		<input class="pp-WGSXBG457RT9W" type="submit" value="Jetzt bezahlen" />
		<img src=https://www.paypalobjects.com/images/Debit_Credit_APM.svg alt="cards" />
		<section> Abgewickelt durch <img src="https://www.paypalobjects.com/paypal-ui/logos/svg/paypal-wordmark-color.svg" alt="paypal" style="height:0.875rem;vertical-align:middle;"/></section>
		
	</form> -->
	
</Layout>
<script src="../js/searchfunction.js"></script>